 

    <div id="contact" class="bg-light pt-5 pb-5">
      <div class="container">
        <h2 class="pb-4 text-center">Hi, I'm Karina Sposito</h2>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <%= image_tag "profile.jpg", class:"w-100" %>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio porro dignissimos esse, deserunt rem eligendi sunt minima repellat error soluta.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quam, iusto quibusdam, nostrum minima quia nesciunt dolor incidunt voluptas labore natus dolores rem possimus maiores consequatur veritatis iste asperiores esse distinctio culpa tempore. Minus consequuntur esse ipsum ea, necessitatibus accusantium blanditiis, ipsa distinctio provident quod eveniet voluptates a veritatis ullam rerum atque facere cum recusandae facilis dignissimos magnam, suscipit natus. Fuga provident sunt aperiam impedit magnam error, exercitationem repellat sint doloremque, fugiat esse aliquid adipisci nostrum laboriosam dignissimos a iure animi voluptas commodi quam aut molestiae dolorum nesciunt! Magnam, incidunt.</p>
          </div>
        </div>
      </div>
    </div>